Options -MultiViews
RewriteEngine On
RewriteBase /

# Canonical host: HTTPS, without www
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} ^www\.artcomplex\.ru$ [NC]
#RewriteRule ^ https://artcomplex.ru%{REQUEST_URI} [R=301,L]

#  artcomplex.ru -> NewSite
RewriteRule ^arhitekturnye_proekty\.php$ /about.html [R=301,L]
RewriteRule ^design\-proekt\-doma\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^hajtek\-proekt\-doma\.html$ /houses/proekt-doma-v-stile-khaytek.html [R=301,L]
RewriteRule ^index\-15\.html$ /other.html [R=301,L]
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^koncepciya\-zhilogo\-kompleksa\.html$ /multistory/zhiloy-kompleks-kontseptsiya.html [R=301,L]
RewriteRule ^mail\.html$ /contacts.html [R=301,L]
RewriteRule ^proekt\-10\.html$ /public-buildings/proekt-biznes-tsentra.html [R=301,L]
RewriteRule ^proekt\-11\.html$ /public-buildings/proekt-otelya.html [R=301,L]
RewriteRule ^proekt\-12\.html$ /public-buildings/proekt-shkoly.html [R=301,L]
RewriteRule ^proekt\-13\.html$ /public-buildings/proekt-avtosalona.html [R=301,L]
RewriteRule ^proekt\-14\.html$ /public-buildings/proekt-torgovogo-tsentra.html [R=301,L]
RewriteRule ^proekt\-15\.html$ /houses/dom-na-dve-semi.html [R=301,L]
RewriteRule ^proekt\-16\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-17\.html$ /wood-houses/proekt-doma-iz-kleenogo-brusa.html [R=301,L]
RewriteRule ^proekt\-18\.html$ /wood-houses/proekt-odnoetazhnogo-doma.html [R=301,L]
RewriteRule ^proekt\-19\.html$ /houses/dom-v-angliyskom-stile.html [R=301,L]
RewriteRule ^proekt\-2\.html$ /public-buildings/proekt-fasadov-zdaniya-shkoly.html [R=301,L]
RewriteRule ^proekt\-20\.html$ /houses/proekt-doma-v-klassicheskom-stile.html [R=301,L]
RewriteRule ^proekt\-21\.html$ /wood-houses/proekt-usadby-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-22\.html$ /houses/proekt-doma-v-stile-minimalizm.html [R=301,L]
RewriteRule ^proekt\-23\.html$ /houses/proekt-doma-v-stile-khaytek.html [R=301,L]
RewriteRule ^proekt\-24\.html$ /houses/dom-v-stile-rayta.html [R=301,L]
RewriteRule ^proekt\-25\.html$ /houses/proekt-taunkhausa.html [R=301,L]
RewriteRule ^proekt\-27\.html$ /public-buildings/proekt-shkoly.html [R=301,L]
RewriteRule ^proekt\-28\.html$ /public-buildings/proekt-gostinitsy.html [R=301,L]
RewriteRule ^proekt\-2867\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-29\.html$ /public-buildings/proekt-sportivnogo-kompleksa.html [R=301,L]
RewriteRule ^proekt\-3\.html$ /houses/proekt-villy.html [R=301,L]
RewriteRule ^proekt\-30\.html$ /public-buildings/proekt-kafe.html [R=301,L]
RewriteRule ^proekt\-4\.html$ /wood-houses/dom-v-stile-shale.html [R=301,L]
RewriteRule ^proekt\-5\.html$ /public-buildings/proekt-avtosalona.html [R=301,L]
RewriteRule ^proekt\-6\.html$ /public-buildings/proekt-sportivnogo-kompleksa.html [R=301,L]
RewriteRule ^proekt\-7\.html$ /houses/proekt-osobnyaka.html [R=301,L]
RewriteRule ^proekt\-8\.html$ /public-buildings/proekt-restorana.html [R=301,L]
RewriteRule ^proekt\-9\.html$ /public-buildings/proekt-magazina.html [R=301,L]
RewriteRule ^proekt\-administrativnogo\-zdanija\.html$ /public-buildings/proekt-administrativnogo-zdaniya.html [R=301,L]
RewriteRule ^proekt\-avtocentra\.html$ /public-buildings/proekt-avtosalona.html [R=301,L]
RewriteRule ^proekt\-avtosalona\.html$ /public-buildings/proekt-avtosalona.html [R=301,L]
RewriteRule ^proekt\-bani\-iz\-brusa\.html$ /wood-houses/proekt-bani-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-biznes\-centra\.html$ /public-buildings/proekt-biznes-tsentra.html [R=301,L]
RewriteRule ^proekt\-chastnogo\-doma\.html$ /houses/proekt-chastnogo-doma.html [R=301,L]
RewriteRule ^proekt\-derevjannogo\-doma\.html$ /wood-houses/proekt-derevyannogo-doma.html [R=301,L]
RewriteRule ^proekt\-doma\-bashni\.html$ /multistory/proekt-bashni.html [R=301,L]
RewriteRule ^proekt\-doma\-iz\-brusa\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-doma\-iz\-kleenogo\-brusa\.html$ /wood-houses/proekt-doma-iz-kleenogo-brusa.html [R=301,L]
RewriteRule ^proekt\-doma\-iz\-profilirovannogo\-brusa\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-doma\-na\-3\-semyi\.html$ /houses/dom-na-dve-semi.html [R=301,L]
RewriteRule ^proekt\-doma\-na\-tri\-semi\.html$ /houses/dom-na-dve-semi.html [R=301,L]
RewriteRule ^proekt\-doma\-s\-garazhom\-iz\-brusa\.html$ /wood-houses/proekt-doma-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-doma\-stile\-minimalism\.html$ /houses/proekt-doma-v-stile-minimalizm.html [R=301,L]
RewriteRule ^proekt\-doma\-stile\-rajta\.html$ /houses/dom-v-stile-rayta.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-anglijskom\-stile\.html$ /houses/dom-v-angliyskom-stile.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-srednevekovom\-stile\.html$ /houses/proekt-doma-v-klassicheskom-stile.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-stile\-hajtek\.html$ /houses/proekt-doma-v-stile-khaytek.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-stile\-minimalizm\.html$ /houses/proekt-doma-v-stile-minimalizm.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-stile\-rajta\.html$ /houses/dom-v-stile-rayta.html [R=301,L]
RewriteRule ^proekt\-doma\-v\-stile\-zamka\.html$ /houses/proekt-doma-v-klassicheskom-stile.html [R=301,L]
RewriteRule ^proekt\-garazha\-iz\-brusa\.html$ /wood-houses/proekt-garazha-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-gostinicy\.html$ /public-buildings/proekt-gostinitsy.html [R=301,L]
RewriteRule ^proekt\-intererov\-biznes\-centra\.html$ /interiors/interery-mop.html [R=301,L]
RewriteRule ^proekt\-intererov\-kafe\.html$ /interiors/interer-kafe.html [R=301,L]
RewriteRule ^proekt\-intererov\-magazina\.html$ /interiors/interer-magazina.html [R=301,L]
RewriteRule ^proekt\-katka\.html$ /public-buildings/proekt-sportivnogo-kompleksa.html [R=301,L]
RewriteRule ^proekt\-kazino\.html$ /public-buildings/proekt-kafe.html [R=301,L]
RewriteRule ^proekt\-kottedzha\-iz\-brusa\.html$ /wood-houses/proekt-usadby-iz-brusa.html [R=301,L]
RewriteRule ^proekt\-magazina\.html$ /public-buildings/proekt-magazina.html [R=301,L]
RewriteRule ^proekt\-mnogoehtazhnogo\-doma\.html$ /multistory/proekt-mnogoetazhnogo-doma.html [R=301,L]
RewriteRule ^proekt\-mnogokvartirnogo\-doma\.html$ /multistory/proekt-mnogokvartirnogo-zhilogo-doma.html [R=301,L]
RewriteRule ^proekt\-nebolshogo\-torgovogo\-centra\.html$ /public-buildings/proekt-torgovogo-tsentra.html [R=301,L]
RewriteRule ^proekt\-obshezhitija\.html$ /public-buildings/proekt-gostinitsy.html [R=301,L]
RewriteRule ^proekt\-odnoehtazhnogo\-doma\-iz\-brusa\.html$ /wood-houses/proekt-odnoetazhnogo-doma.html [R=301,L]
RewriteRule ^proekt\-ofisnogo\-centra\.html$ /public-buildings/proekt-ofisnogo-tsentra.html [R=301,L]
RewriteRule ^proekt\-osobnyaka\.html$ /houses/proekt-osobnyaka.html [R=301,L]
RewriteRule ^proekt\-otelya\.html$ /public-buildings/proekt-otelya.html [R=301,L]
RewriteRule ^proekt\-razvlekatelnogo\-centra\.html$ /public-buildings/proekt-kafe.html [R=301,L]
RewriteRule ^proekt\-razvlekatelynogo\-centra\.html$ /public-buildings/proekt-kafe.html [R=301,L]
RewriteRule ^proekt\-rekonstrukcii\-zdanija\.html$ /public-buildings/rekonstruktsiya-zdaniya-sportivnogo-tsentra.html [R=301,L]
RewriteRule ^proekt\-restorana\.html$ /public-buildings/proekt-restorana.html [R=301,L]
RewriteRule ^proekt\-shale\-iz\-brusa\.html$ /wood-houses/dom-v-stile-shale.html [R=301,L]
RewriteRule ^proekt\-shkoly\.html$ /public-buildings/proekt-shkoly.html [R=301,L]
RewriteRule ^proekt\-sovremennoj\-shkoly\.html$ /public-buildings/proekt-shkoly.html [R=301,L]
RewriteRule ^proekt\-sportivnogo\-centra\.html$ /public-buildings/proekt-sportivnogo-kompleksa.html [R=301,L]
RewriteRule ^proekt\-sportivnogo\-kompleksa\.html$ /public-buildings/proekt-sportivnogo-kompleksa.html [R=301,L]
RewriteRule ^proekt\-taunhausa\.html$ /houses/proekt-taunkhausa.html [R=301,L]
RewriteRule ^proekt\-tenevogo\-navesa\.html$ /modular/proekt-navesa.html [R=301,L]
RewriteRule ^proekt\-terrasy\-s\-barbekyu\.html$ /wood-houses/proekt-terrasy-s-barbekyu.html [R=301,L]
RewriteRule ^proekt\-torgovogo\-centra\.html$ /public-buildings/proekt-torgovogo-tsentra.html [R=301,L]
RewriteRule ^proekt\-townhouse\.html$ /houses/proekt-taunkhausa.html [R=301,L]
RewriteRule ^proekt\-zhilogo\-kompleksa\.html$ /multistory/proekt-zhilogo-kompleksa.html [R=301,L]
RewriteRule ^proektirovanie\-fasadov\.html$ /public-buildings/proekt-fasadov-zdaniya-shkoly.html [R=301,L]
RewriteRule ^proekty\-3\.html$ /houses.html [R=301,L]
RewriteRule ^proekty\-4\.html$ /public-buildings.html [R=301,L]
RewriteRule ^project\-villy\.html$ /houses/proekt-villy.html [R=301,L]
RewriteRule ^project/apartment\-buildings\-projects\.html$ /multistory.html [R=301,L]
RewriteRule ^project/houses\-projects\.html$ /houses.html [R=301,L]
RewriteRule ^project/interiors\-projects\.html$ /interiors.html [R=301,L]
RewriteRule ^project/public\-buildings\-projects\.html$ /public-buildings.html [R=301,L]
RewriteRule ^project/timber\-houses\-projects\.html$ /wood-houses.html [R=301,L]
RewriteRule ^search\-thumbnails\-брус\.html$ /wood-houses.html [R=301,L]
RewriteRule ^search\-thumbnails\-райт\.html$ /houses/dom-v-stile-rayta.html [R=301,L]
RewriteRule ^search\-thumbnails\-школа\.html$ /public-buildings/proekt-shkoly.html [R=301,L]
RewriteRule ^slide\-1\.html$ /interiors.html [R=301,L]
RewriteRule ^slide\-2\.html$ /houses.html [R=301,L]
RewriteRule ^slide\-3\.html$ /wood-houses.html [R=301,L]
RewriteRule ^slide\-4\.html$ /public-buildings.html [R=301,L]

# Old WordPress front controller is intentionally not used on the static site.
# Existing files/directories are served normally.
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^ index.html [L]
